.signUp-submit-btn {
  cursor: pointer;
  width: 250px;
  font-size: 12px;
  height: 40px;
  border-radius: 50px !important;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}
